<!DOCTYPE HTML PUBLIC>
{% autoescape true %}

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/images/favicon.ico" type="image/ico">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
    <script src="/js/jquery.min.js"></script>
</head>

<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" class="img-responsive" alt=""></a>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>


<div class="header-bottom">
    <style>
    </style>
    <div class="container">
        <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-15">
                <li><a class="color6" href="/">Manage</a></li>
                <li><a class="color5" href="/create?=user_id={{user_id}}">Create</a></li>
                <li><a class="color8" href="/viewall">View</a></li>
                <li><a class="color3" href="/search">Search</a></li>
                <li><a class="color2" href="/trend">Trending</a></li>
                <li><a class="color1" href="/">Social</a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<br>

<div class="container">
    {% block content %}
    {% endblock %}
</div>


<br>

<div class="footer">
    <div class="container">
        Hi, {{user_id}}<a href="{{ url|safe }}">{{ url_linktext }}</a>
        <div class="clearfix"></div>
    </div>
</div>

</body>
{% endautoescape %}