{% extends '/htmls/base.html' %}
{% block title %}CreateStream{% endblock %}
{% block content %}
    <div>
    <style>
        td{
            font-family: cursive;
        }
    </style>
<form action="/create" method="post">
    <div class="form-group col-md-5">
        <label>Name your stream</label>
        <input type="text" id="stream_name" name="stream_name" class="form-control" placeholder="UT Austin">
    </div>
    <div class="form-group col-md-5">
        <label>Tag your stream(separated by space)</label>
        <textarea class="form-control" name="stream_tags" rows="2" placeholder="College"></textarea>
    </div>
    <div class="form-group col-md-5">
        <label>Add subscribers</label>
        <textarea class="form-control" name="invitation_emails" rows="2" placeholder="xxx@utexas.edu"></textarea>
    <br>
        <textarea class="form-control" name="invitation_message" rows="3" placeholder="your message"></textarea>
    </div>
    <div class="form-group col-md-5">
        <label>URL to cover image</label>
        <input type="text" class="form-control" name ="cover_image" placeholder="http://....">
    </div>
    <div class="form-group col-md-10">
        <input class="submit" type="submit" value="Create Stream">
        </div>
</form>
    </div>
{% endblock %}
