{% extends '/htmls/base.html' %}
{% block title %}CreateStream{% endblock %}
{% block content %}
<form action="/create" method="post">
   <table>
      <tr>
         <td width="400";align="left">&nbsp;&nbsp;<input type="text" name="stream_name" value= "Name your stream"></td>
         <td width="400";align="right"><input type="text" name="stream_tags" value="Tag your stream"></td>
      </tr>
      <tr>
         <td width="400";align="left">&nbsp;&nbsp;Name your stream</td>
         <td width="400";align="right">Tag your stream</td>
      </tr>
      <tr>
         <td width="400";align="left">&nbsp;&nbsp;<input type="text" name="invitation_emails" value="@"></td>
         <td width="400";align="right"><input type="text" name="cover_image" value="URL"></td>
      </tr>
      <tr>
         <td width="400";align="left">&nbsp;&nbsp;<input type="text" name="invitation_message" value="Message"></td>
         <td width="400";align="right">URL to cover image(can be empty)</td>
      </tr>
      <tr>
         <td width="400";align="left">&nbsp;&nbsp;Add subscribers</td>
      </tr>
   </table>
   <br/>
   &nbsp;&nbsp;<input type="submit" value="Create Stream">
</form>
{% endblock %}
