{% extends '/htmls/base.html' %}
{% block title %}Management{% endblock %}
{% block content %}

    <head>
        <style>
            h2 {
                font-family: cursive;
                color: #888888;
            }
        </style>
    </head>

    <div>
        <h2>&nbsp;Streams I own</h2>
    </div>

<div style="border-radius: 10px; border: groove darkorange;">
<form action="/" method="post">
<table width="100%" >
        <tr style="border-bottom: groove darkorange; font-size: larger">
        <td style="text-align: center;">Cover</td>
        <td style="text-align: center; ">Name</td>
        <td style="text-align: center; ">Last New Picture</td>
        <td style="text-align: center; ">Number of Pictures</td>
        <td style="text-align: center; ">Delete</td>
    </tr>
   {% for stream in streams %}
       <tr>
       <td><br></td>
       </tr>
   <tr>
      <td style="text-align: center;"><a href="/view?stream_name={{stream.name}}"><img src="{{stream.cover}}" width="100" height="75"></a></td>
      <td style="text-align: center;"><a href="/view?stream_name={{stream.name}}">{{stream.name}}</a></td>
      <td style="text-align: center;">{{stream.date}}</td>
      <td style="text-align: center;">{{stream.num_of_pics}}</td>
      <td style="text-align: center;"><input type="checkbox" name="{{stream.key.id()}}"></td>
   </tr>
   {% endfor %}
    {% if streams %}
    <tr style="text-align: right">
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"><input class="submit" type="submit" value="Delete" name="delete"></td>
    </tr>
    {% endif %}
     </table>
</form>
</div>

    <br>
    <i class="line"> </i>
    <br>

    <div>
        <h2>&nbsp;Streams I subscribe to</h2>
    </div>

    <div style="border-radius: 10px; border: groove darkorange">
<form action="/" method="post">
<table width="100%">
    <tr style="border-bottom: groove darkorange; font-size: larger">
        <td style="text-align: center; width: 150px">Cover</td>
        <td style="text-align: center; width: 150px">Name</td>
        <td style="text-align: center; width: 150px">Last New Picture</td>
        <td style="text-align: center; width: 150px">Number of Pictures</td>
        <td style="text-align: center; width: 150px">Views</td>
        <td style="text-align: center; width: 150px">Unsubscribe</td>
    </tr>
   {% for stream in subscribed_streams %}
       <tr>
       <td><br></td>
       </tr>
   <tr>
      <td style="text-align: center;"><a href="/view?stream_name={{stream.name}}"><img src="{{stream.cover}}" width="100" height="75"></a></td>
      <td style="text-align: center;"><a href="/view?stream_name={{stream.name}}">{{stream.name}}</a></td>
      <td style="text-align: center;">{{stream.date}}</td>
      <td style="text-align: center;">{{stream.num_of_pics}}</td>
       <td style="text-align: center;">{{stream.num_of_views}}</td>
      <td style="text-align: center;"><input type="checkbox" name="{{stream.key.id()}}"></td>
   </tr>
   {% endfor %}
   {% if subscribed_streams %}
    <tr style="text-align: right">
        <td style="text-align: center; width: 150px"></td>
        <td style="text-align: center; width: 150px"></td>
        <td style="text-align: center; width: 150px"></td>
        <td style="text-align: center; width: 150px"></td>
        <td style="text-align: center; width: 150px"></td>
        <td style="text-align: center; width: 150px"><input class="submit" type="submit" value="Unsubscribe" name="unsubscribe"></td>
    </tr>
    {% endif %}
     </table>
</form>
</div>

{% endblock %}