{% extends '/htmls/base.html' %}
{% block title %}Management{% endblock %}
{% block content %}
<h2>&nbsp;Streams I own</h2>
<form action="/" method="post">
<table>
   <tr>
      <td width="300";align="left">&nbsp;&nbsp;Name</td>
      <td width="300";align="right">Last New Picture</td>
      <td width="300";align="right">Number of Pictures</td>
      <td width="300";align="right">Delete</td>
   </tr>
   {% for stream in streams %}
   <tr>
      <td width="300";align="left">&nbsp;&nbsp;<a href="/view?stream_name={{stream.name}}">{{stream.name}}</a></td>
      <td width="300";align="right">{{stream.date}}</td>
      <td width="300";align="right">{{stream.num_of_pics}}</td>
      <td width="300";align="right"><input type="checkbox" name="{{stream.key.id()}}"></td>
   </tr>
   {% endfor %}
</table>
<br/>
&nbsp;&nbsp;<input type="submit" value="Delete Checked">
</form>
<h2>&nbsp;Streams I subscribe to</h2>
<form>
   <table>
      <tr>
         <td width="300";align="left">&nbsp;&nbsp;Name</td>
         <td width="300";align="right">Last New Picture</td>
         <td width="300";align="right">Number of Pictures</td>
         <td width="150";align="right">Views</td>
         <td width="150";align="right">Unsubscribe</td>
      </tr>
      {% for name in names %}
      <tr>
         <td width="300";align="left">&nbsp;&nbsp;<a href="">{{name}}</a></td>
         <td width="300";align="right">Last New Picture</td>
         <td width="300";align="right">Number of Pictures</td>
         <td width="150";align="right">Views</td>
         <td width="150";align="right"><input type="checkbox"></td>
      </tr>
      {% endfor %}
   </table>
   <br>
   &nbsp;&nbsp;<input type="submit" value="Unsubscribe Checked Streams">
</form>
{% endblock %}