{% extends '/htmls/base.html' %}
{% block title %}SearchStreams{% endblock %}
{% block content %}
<p>
    <form action="/search" method="post">
        &nbsp;&nbsp;<input type="text" name="keywords" placeholder="key word of the stream">
        <br/>
        <br/>
        &nbsp;&nbsp;<input type="submit" name="search" value="Search">
    </form>
    <br/>
    &nbsp;&nbsp;{{ result_number }} results for {{ keyword }}
    <br/>
    &nbsp;&nbsp;click on an image to view stream
    {% for stream in streams %}
        <p>
            <table>
            <tr>
                <td>
                    &nbsp;&nbsp;<a href="/view?stream_name={{stream.name}}"><img src="{{stream.cover}}"  width="200" height="150"></a>
                </td>
                </tr>
                <tr>
                <td><a href="/view?stream_name={{stream.name}}">{{stream.name}}</a></td>
                <br/>
            </tr>
            </table>
        </p>
    {% endfor %}
</p>
{% endblock %}