{% extends '/htmls/base.html' %}
{% block title %}SearchStreams{% endblock %}
{% block content %}
<p>
    <form action="" method="post">
        &nbsp;&nbsp;<input type="text" name="keyword" value="key word of the stream">
        <br/>
        <br/>
        &nbsp;&nbsp;<input type="submit" name="search" value="Search">
    </form>
    <br/>
    &nbsp;&nbsp;{{ result_number }} results for {{ keyword }}
    <br/>
    &nbsp;&nbsp;click on an image to view stream
    {% for stream in streams %}
            <img src="">
            <br/>
    {% endfor %}
</p>
{% endblock %}