{% extends '/htmls/base.html' %}
{% block title %}TrendingStreams{% endblock %}
{% block content %}
    <h2 style="font-family: cursive; color: #888888;">Top 3 Trending Streams</h2>
    <br/>

<style type="text/css">
div#container{width:800px}
{%  for stream in streams %}
div#{{stream.name}} {height:200px;width:250px;float:left;}
{% endfor %}
div#menu{height:200px;width:200px;float:left;}
div#footer {clear:both;text-align:center;}
</style>

    {% for stream in streams %}
    <div id="{{stream.name}}">
    <table>
        <tr>
            <td>&nbsp;&nbsp;<a href="/view?stream_name={{stream.name}}"><img src="{{stream.cover}}"  width="200" height="150"></a></td>
        </tr>
        <tr>
            <td align="center">{{stream.num_of_views}} views in past hour</td>
        </tr>
    </table>
    </div>
    {% endfor %}
    
    <form action="/trend" method="post">
        <table style="font-size: large">
            {% if value_checked == -1 %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="-1" checked>No reports</td>
            </tr>
            {% else %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="-1">No reports</td>
            </tr>
            {% endif %}
        {% if value_checked == 1 %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="1" checked>Every 5 minutes</td>
            </tr>
            {% else %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="1">Every 5 minutes</td>
            </tr>
            {% endif %}
        {% if value_checked == 12 %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="12" checked>Every 1 hour</td>
            </tr>
            {% else %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="12">Every 1 hour</td>
            </tr>
            {% endif %}
        {% if value_checked == 288 %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="288" checked>Every day</td>
            </tr>
            {% else %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t" type="radio" value="288">Every day</td>
            </tr>
            {% endif %}
            <tr>
                <td><br></td>
            </tr>
             <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="submit" name="update" type="submit" value="Update rate"></td>
            </tr>
            </table>
    </form>

{% endblock %}