{% extends '/htmls/base.html' %}
{% block title %}TrendingStreams{% endblock %}
{% block content %}
<p>
    <h2>Top 3 Trending Streams</h2>
    <br/>
<style type="text/css">
div#container{width:800px}
{%  for stream in streams %}
div#{{stream.name}} {height:200px;width:200px;float:left;}
{% endfor %}
div#menu{height:200px;width:200px;float:left;}
div#footer {clear:both;text-align:center;}
</style>

<body>

<div id="container">
    {% for stream in streams %}
    <div id="{{stream.name}}">
    <table>
        <tr>
            <td>&nbsp;&nbsp;<a href="/view?stream_name={{stream.name}}"><img src="{{stream.cover}}"  width="200" height="150"></a></td>
        </tr>
        <tr>
            <td align="center">{{stream.num_of_views}} views in past hour</td>
        </tr>
    </table>
    </div>
    {% endfor %}
<div id="menu">
    <form action="" method="">
        <table>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t0" type="checkbox" value="No reports">No reports</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t1" type="checkbox" value="Every 5 minutes">Every 5 minutes</td>
            </tr>
             <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t3" type="checkbox" value="Every 1 hour">Every 1 hour</td>
            </tr>
             <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="t4" type="checkbox" value="Every day">Every day</td>
            </tr>
             <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email trending report</td>
            </tr>
             <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="update" type="submit" value="Update rate"></td>
            </tr>
            </table>
    </form>
</div>
<div id="footer"></div>

</div>

</body>
</p>
{% endblock %}