{% extends '/htmls/base.html' %}
{% block title %}ViewAllStreams{% endblock %}
{% block content %}
    <p>
     <h2>View All Streams</h2>
<style type="text/css">
div#container{width:600px}
{%  for stream in streams %}
div#{{stream.name}} {background-color:#FFFFFF;height:200px;width:200px;float:left;}
{% endfor %}
div#footer {background-color:#FFFFFF;clear:both;text-align:center;}
</style>

<body>

<div id="container">
    {% for stream in streams %}
    <div id="{{stream.name}}">
    <table>
        <tr>
            <td>&nbsp;&nbsp;<a href="/view?stream_name={{stream.name}}"><img src="{{stream.cover}}"></a></td>
        </tr>
        <tr>
            <td align="center"><a href="/view?stream_name={{stream.name}}">{{stream.name}}</a></td>
        </tr>
    </table>
    </div>

    {% endfor %}
<div id="footer"></div>

</div>

</body>

    </p>
{% endblock %}