{% extends '/htmls/base.html' %}
{% block title %}ViewAllStreams{% endblock %}
{% block content %}
     <h2 style="font-family: cursive; color: #888888;">View All Streams</h2>
<style type="text/css">




{%  for stream in streams %}
div#{{stream.name}} {height:200px;width:220px;float:left;}
{% endfor %}

</style>

<div style="width:700px; height:400px; overflow:auto;">
    {% for stream in streams %}
    <div id="{{stream.name}}">
    <table>
        <tr>
            <td><a href="/view?stream_name={{stream.name}}"><img src="{{stream.cover}}" width="200" height="150"></a></td>
        </tr>
        <tr>
            <td align="center"><a href="/view?stream_name={{stream.name}}">{{stream.name}}</a></td>
        </tr>
    </table>
    </div>
    {% endfor %}
</div>

{% endblock %}