{% extends '/htmls/base.html' %}
{% block title %}ViewASingleStrem{% endblock %}
{% block content %}
<p>
<form action="" method="post">
    {% for stream in streams %}
    <img src="/i/eg_mouse.jpg"/>
    {% endfor %}
    <input type="submit" value="More pictures" name="morepicture">
</form>
</p>

<p>
    <form action="/view?stream_name={{stream_name}}" method="post">
    <table>
        <tr>
            <td><input type="file" name="new_img"></td>
            <td><input type="text" value="Comments" name="new_comments"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Upload file" name="upload button"></td>
            <td>Add an Image</td>
        </tr>
    </table>
</form>
</p>
<p>
    <form action="/" method="post">
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Subscribe" name="subscribebutton">
</form>
</p>

{% endblock %}