{% extends '/htmls/base.html' %}
{% block title %}ViewASingleStrem{% endblock %}
{% block content %}

<style>
    #drop_zone {
        width: 50%;
        border: 2px dashed #BBB;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        color: #BBB;
    }

    .removeAllImages {
        cursor: pointer;
    }
</style>
<!--<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>-->
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="js/upload.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/dropzone.css">
<head>
    <link type="text/css" rel="stylesheet" href="css/lightgallery.min.css"/>
    <style type="text/css">
        .string {font-family: Comic Sans MS}
    </style>
</head>


<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="js/jquery.mousewheel.min.js"></script>

<!-- lightgallery plugins -->
<script src="js/lightgallery.min.js"></script>
<script src="js/lg-thumbnail.min.js"></script>
<script src="js/lg-fullscreen.min.js"></script>

    <img src="{{cover_url}}" width="200" height="150">
    <a class="string" href="/map?stream_name={{stream_name}}"><img src="img/world_map.png">Show the Stream in A Map!</a>

    <p style="font-size: large">Stream Tags: {{stream_tags}}</p>
     <p>
    <form action="/subscribe?stream_name={{stream_name}}" method="post">
    <input class="submit" type="submit" value="Subscribe" name="subscribebutton"></form>
    </p>
    <i class="line"> </i>
    <br>
{#    &nbsp;&nbsp;Stream Tags: {{stream_tags}} <br><br>#}


        <div style="width: 700px;height: 190px;overflow: auto">
            <div id="lightgallery">
            {% for picture in stream_pictures[::-1] %}
                <a href="/view_photo/{{ picture.blob_key }}">
                    <img style="margin-bottom: 20px" src="/view_photo/{{ picture.blob_key }} " width="200" height="150"><span style="margin-right: 20px;"></span>
                </a>
            {% endfor %}
            </div>
        </div>
<br>


    <div>
<form  action="{{upload_url}}" class="dropzone" method="POST" id="myDropzone" enctype="multipart/form-data"></form>
        <table>
            <tr>
                <td>
                    <input class="submit" type="submit" id="uploadBtn" value="Upload Files!">
                </td>
                <td>
                    <span style="margin-left: 50px"></span><input type=button class="submit" value=Refresh onclick=history.go(-0)>
                </td>
            </tr>
        </table>
<div id="response"></div>
    </div>
    <!--<ul id="image-list">-->
    <!--</ul>-->



{% endblock %}














